/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
  /* BASE STYLES
  /*******************************************/

/* body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */

/******************************************
  /* LAYOUT
  /*******************************************/
nav {
  background-color: black;
  color: #ffffff;
  height: 3rem;


}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  height: 100%;
  border-left: 1px white;
  border-right: 1px white;
  /* width: 100%;
   border: solid  1px white; */
}

a {
  text-decoration: none;
  color: white;


}


li {
  list-style: none;



}

.icons ul {
  list-style: none;
  /* Remove default list styles */
  padding: 0;
  margin: 0;
  display: flex;
  /* Align items horizontally */
  gap: 10px;
  /* Add spacing between items */

}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: black;
}


/* height of 500px has been moved to the mainPage container, so that it makes the left and right container 500px */
#mainPage {
  display: flex;
  gap: 10px;
  height: 500px;
}



#leftContainer {
  display: flex;
  width: 100%;

}

/*  i have added the image as a background image on the div, its better if you want to overlay text over an image if you just make the div have the image as a background */
.leftContainer-item {
  background-image: url(./israel.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  padding: 10px;
  width: 100%;
}

/* this is the grid part */
#rightContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 40%;
}



/*  i have added the image as a background image on the div, its better if you want to overlay text over an image if you just make the div have the image as a background */
.grid-item {
  background-image: url(./israel.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  padding: 10px;
  width: calc(50% - 5px);
}

.grid-item p,
.hero-image p,
.hero-image h4 {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

.grid-item h5 {
  margin: 5px 0 0;
  font-size: 12px;
  font-weight: normal;
  opacity: 0.8;
}




.dropbtn {
  background-color: black;
  color: white;
  font-size: 16px;
  border: none;
}

#bottom-container {

  padding-top: 2rem;
  display: flex;
  /* text-align: center; */
  gap: 10px;
}

.small-sections img {
  height: 200px;
  width: auto;
}

.small-sections p {
  position: left;
}

.small-sections h6 {
  font-size: 15px;
  padding: 0;
}



/******************************************
  /* ADDITIONAL STYLES
  /*******************************************/